.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background: url(../../../images/Close-Icon.svg);
    background-position: center;
    border: none;
    transition: opacity ease 0.4s;
}

.popup__close:hover {
    cursor: pointer;
    opacity: 0.6;
}


@media screen and (max-width: 590px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
        background-size: cover;
    }
}