.popup__submit {
    width: 358px;
    min-height: 50px;
    margin: 16px auto 37px;
    color: white;
    background-color: black;
    transition: opacity ease 0.4s;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.popup__submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 590px) {
    .popup__submit {
        width: 238px;
        min-height: 46px;
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}